#wrapper{
    position:absolute; top:0px; left:0px;
    width:1420px;
    height:720px;
}
#hud{
    position:absolute; top:0px; left:0px;
    background-color: transparent;
    pointer-events: none;
}
#canvas{
    position:absolute; top:0px; left:0px;
    background-color: lightblue;
    /* pointer-events: none; */
}